<link rel="stylesheet" href="/cover.css">
<h1>Results</h1>

<ul>
    <% data["recipes"].forEach(function(dish) { %>
      <li>
          <h2 class="recipeTitle">
            <a href=<%=dish["source_url"]%>>  <%= dish["title"] %></a>
          </h2>
           
          <div class="recipieImage" style="background-image: url('<%=dish["image_url"]%>');"></div>
      </li>
    <% }) %>
</ul>


<a href="/"> Search Again! </a>