<h1> Find Your Recipe </h1>
<form action="/recipes" method="GET">
    <input type="text" placeholder="ingredients" name="search">
    <input type="submit">
</form>
<h5> * Separate multiple ingredients by comma </h5>
